:root {
  font-family: "Rajdhani", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #080808;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  background-color: #080808;
  color: white;
  font-family: "Rajdhani", sans-serif;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.25rem;
  font-style: normal;
  font-weight: 500;
  padding-left: 25px;
  font-family: "Rajdhani", sans-serif;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 100%,
    15px 100%,
    0 calc(100% - 15px)
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 100%,
    15px 100%,
    0 calc(100% - 15px)
  );
  height: 40px;
  font-size: 1rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(0deg, #8649f2 0%, #4e2a8c 100%);
  border: 0 solid;
  overflow: hidden;
  fill: linear-gradient(0deg, rgba(134, 73, 242, 0.6) 0%, #4e2a8c 100%);
  stroke-width: 1px;
  stroke: #dac8ff;
}

button:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

.hero-heading {
  text-align: center;
  text-shadow: 0px 7px 25.1px rgba(134, 73, 242, 0.3);

  /* title */
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: #000;
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%; /* 88.8px */
  background: linear-gradient(181deg, #fff 0.49%, #999 149.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 40px; /* Adjust to your preferred mobile font size */
  }
}